*.stl
*.pmx
*.pwmx
*.step
*.stp
*.obj
*.mtl
*.blend
*.log
*.bak
*.tmp
*.backup
*.swp
*.swo
*.STEP
*.STL
**/library/
**/Library/*.STEP
**/library/*.STL
**/library/*.pmx
**/library/*.pwmx
**/library/*.obj
/logs/
/switch_pcb/Plots
/switch_pcb/backups
/switch_pcb/Gerber
/switch_pcb/Reports
**/STL/
**/STL/*.pmx
**/STL/*.pwmx
**/STL/*.stl
**/STL/*.obj
**/STL/*.mtl
**/STL/*.blend
